[Desktop Entry]
Version=1.0
Name=Generador de Contraseñas
Name[es]=Generador de Contraseñas
Comment=Genera contraseñas seguras y personalizables.
Comment[es]=Genera contraseñas seguras y personalizables.
Exec=/usr/bin/nemas-passgen
Icon=utilities-password
Terminal=false
Type=Application
Categories=Utility;Security;
Keywords=password;contraseña;generador;seguridad;
Keywords[es]=password;contraseña;generador;seguridad;clave;
